<div class="aboutContainer">
    <h1>Kilka słów o mnie</h1>
    <p>
        Uordziłem się w 1996 roku i pochodzę z maleńkiej miejscowości o "kuszącej" nazwie Zgniłobłoty.
        <br><br>
        Od najmłodszych lat interesuję się technologią, grami, elektroniką, motoryzacją oraz akwarystyką :).
        <br>
        Informatyka, a w szczególności programowanie to moja pasja. To coś co chcę w życiu robić. Zawszę będę pamietał dzień, w którym dostałem pierwszy komputer - byłem wtedy jeszcze dzieckiem i nie wiedziałem jak wielki wpływ będzie miało to na całe moje życie.
        <br><br>
        W 2020 roku ukończyłem studia inżynierskie na Uniwersytecie Mikołaja Kopernika w Toruniu.
        <!-- <br> -->
        Teraz jestem w trakcie zdobywania wiedzy oraz powiekszania spectrum moich umiejętności.
        <br><br>
        Postawiłem sobie cel w życiu i zamierzam go osiągnąć - chcę zostać Frontend Developerem.
        
    </p>
    <p></p>
</div>