.cContainer {
    height: 300px;
    background-color: #313b42;
    background-image:
    radial-gradient(circle, rgba(45,58,64,0.2) 0%, rgba(45,58,64,1) 80%),
    linear-gradient(0deg, rgba(45,58,64,1) 0%, rgba(45,58,64,0) 100%),
    url("../../assets/img/bg1.jpg");
    background-position-x: center;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    background-attachment: fixed;
}
@media (max-width: 2560px) {
    .cContainer {
        background-image:
        radial-gradient(circle, rgba(45,58,64,0.2) 0%, rgba(45,58,64,1) 70%),
        linear-gradient(0deg, rgba(45,58,64,1) 0%, rgba(45,58,64,0) 100%),
        url("../../assets/img/bg1.jpg");
    }
}
@media (max-width: 425px) {
    .cContainer {
        background-image:
        radial-gradient(circle, rgba(45,58,64,0.2) 0%, rgba(45,58,64,1) 80%),
        linear-gradient(180deg, rgba(45,58,64,0) 0px, rgba(45,58,64,1) 356px),
        url("../../assets/img/bg1.jpg");
        background-position-x: 47%;
        background-attachment: fixed;
    }
}
.mainText {
    height: 300px;
    color: #000;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    
    .backgroundMask {
        height: 130px;
        width: 354px;
        background: linear-gradient(135deg, rgba(0,255,255,1) 250px, rgba(49,59,66,0) 250px);
        mix-blend-mode: screen;
        transform-origin: center left;
    }

    .text {
        position: absolute;
        color: #000;
        height: 50px;
    }
    .text-part1 {
        top: 30px;
        left: 20px;
    }
    .text-part2 {
        top: 80px;
        left: 20px;
    }
}