<app-topbar></app-topbar>
<div class="helloContainer ">
  <!-- <div></div> -->
  helloContainer
</div>
<div class="slidesBar">
  <div class="slidesContent">
    slides
    <router-outlet></router-outlet>
  </div>
  <div class="slidesStepper">
    <button mat-mini-fab class="mat-elevation-z6" (mouseenter)="isButtonHovered=!isButtonHovered" (mouseleave)="isButtonHovered=!isButtonHovered">Btn1</button>
    <mat-divider class="cDivider" [ngClass]="{'cDivider_onHover': isButtonHovered}" [vertical]="true" dashed></mat-divider>
    <!-- <mat-divider class="cDivider" [vertical]="true"></mat-divider> -->
    <button mat-mini-fab (mouseenter)="isButtonHovered=!isButtonHovered" (mouseleave)="isButtonHovered=!isButtonHovered">Btn2</button>
    <mat-divider class="cDivider" [ngClass]="{'cDivider_onHover': isButtonHovered}" [vertical]="true"></mat-divider>
    <!-- <mat-divider class="cDivider" [vertical]="true"></mat-divider> -->
    <button mat-mini-fab (mouseenter)="isButtonHovered=!isButtonHovered" (mouseleave)="isButtonHovered=!isButtonHovered">Btn3</button>
  </div>
</div>