@import '~@angular/material/theming';

.emptyBreak {
    height: 100px;
    background-color: rgba(45,58,64,1);
}
.slidesBar {
    display: flex;
    //background-color: #313b42;
    background-color: rgb(45,58,64);
    color: #fff;
    padding: 0;
    z-index: 2000;
    position: relative;
    //border: 1px solid red;
    min-height: 710px;
}
@media (max-width: 425px) {
    .slidesContent {
        background-position-x: 50% !important;
    }
    .slidesController {
        margin-right: 0 !important;
    }
}
.slidesContent {
    // border: 1px solid red;
    width: 100%;
    overflow: hidden;
    background-image: 
        //radial-gradient(circle, rgba(45,58,64,0.2) 0%, rgba(45,58,64,1) 90%),
        //linear-gradient(270deg, rgba(45,58,64,1) 0%, rgba(45,58,64,0) 30%),
        //linear-gradient(0deg, rgba(45,58,64,1) 0%, rgba(45,58,64,0) 50%),
        
        //radial-gradient(circle, rgba(45,58,64,0.2) 0%, rgba(45,58,64,1) 100%),
        //linear-gradient(270deg, rgba(45,58,64,1) 50%, rgba(45,58,64,0) 100%),
        //linear-gradient(0deg, rgba(45,58,64,1) 0%, rgba(45,58,64,0) 60%),
        linear-gradient(180deg, rgba(45,58,64,1) 50%, rgba(0, 0, 0, 0) 80%),
        url('../assets/img/bg2.jpg');
    //background-size: 50% 150%;
    //background-position-y: -100%;
    background-repeat: no-repeat;
    background-position-x: left;
    //border: 1px solid red;
    background-attachment: fixed;
    background-position-y: bottom;
}
.slidesController {
    width: 80px;
    text-align: center;
    //border: 1px solid red;
    padding-top: 100px;
    margin-left: auto;
    margin-right: 50px;
    //border: 1px solid red;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    //border: 1px solid red;

    .active {

        button {
            background-color: rgba(#51bec4, 1.0);
            transform: scale(1.15, 1.15);
            @include mat-elevation(8);
            color: #000;
            &::after {
                width: 50px;
                height: 50px;
                top: -7px;
                left: -7px;
                border: 1px dashed #51bec4;
            }
        }
    }
    button {
        background-color: rgba(#fff, 0.0);
        border: 1px solid #51bec4;
        color: #fff;
        transition: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        position: relative;
        z-index: 1001;
        //display: flex;
        //padding: 0;

        &:hover {
            background-color: rgba(#51bec4, 1.0);
            transform: scale(1.15, 1.15);
            @include mat-elevation(8);
            color: #000;
        }
        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 0px;
            height: 0px;
            border-radius: 50%;
            transition: 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
        }
        &:hover::after {
            width: 50px;
            height: 50px;
            top: -7px;
            left: -7px;
            border: 1px dashed #51bec4;
        }
    }
}
.cDivider {
    height: 100px;
    transform: scale(1, 0.8);
    width: 0px;
    margin: 0 auto 0 auto;
    background-color: #fff;
    transition: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.cDivider_onHover {
    transform: scale(1, 1);
    background-color: #51bec4;
}