@import '~@angular/material/theming';

.slidesBar {
    display: flex;
    //background-color: #313b42;
    background-color: rgb(45,58,64);
    color: #fff;
    padding: 0 0 50px 0;
}
.slidesContent {
    width: 70%;
    overflow: hidden;
}
.slidesStepper {
    width: 30%;
    text-align: center;

    button {
        background-color: rgba(#fff, 0.0);
        border: 1px solid #51bec4;
        color: #fff;
        transition: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        position: relative;
        z-index: 1001;

        &:hover {
            background-color: rgba(#51bec4, 1.0);
            transform: scale(1.15, 1.15);
            @include mat-elevation(8);
            color: #000;
        }
        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 0px;
            height: 0px;
            border-radius: 50%;
            border: 1px dashed #51bec4;
            transition: 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
        }
        &:hover::after {
            width: 50px;
            height: 50px;
            top: -7px;
            left: -7px;
        }
    }
}
.cDivider {
    height: 60px;
    transform: scale(1, 0.8);
    width: 0px;
    margin: 0 auto 0 auto;
    background-color: #fff;
    transition: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.cDivider_onHover {
    transform: scale(1, 1);
    background-color: #51bec4;
}