@import '~@angular/material/theming';

.slidesBar {
    display: flex;
    background-color: rgb(45,58,64);
    color: #fff;
    padding: 0;
    z-index: 2000;
    position: relative;
    min-height: 710px;
}
@media (max-width: 425px) {
    .slidesContent {
        background-position-x: 50% !important;
    }
    .slidesController {
        margin-right: 0 !important;
    }
}
.slidesContent {
    width: 100%;
    overflow: hidden;
    background-image: url('../assets/img/bg2.jpg');
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: center;
}
.slidesController {
    width: 80px;
    text-align: center;
    padding-top: 100px;
    margin-left: auto;
    margin-right: 50px;

    .active {

        button {
            background-color: rgba(#51bec4, 1.0);
            transform: scale(1.15, 1.15);
            @include mat-elevation(8);
            color: #000;
            &::after {
                width: 50px;
                height: 50px;
                top: -7px;
                left: -7px;
                border: 1px dashed #51bec4;
            }
        }
    }
    button {
        background-color: rgba(#fff, 0.0);
        border: 1px solid #51bec4;
        color: #fff;
        transition: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        position: relative;
        z-index: 1001;

        &:hover {
            background-color: rgba(#51bec4, 1.0);
            transform: scale(1.15, 1.15);
            @include mat-elevation(8);
            color: #000;
        }
        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 0px;
            height: 0px;
            border-radius: 50%;
            transition: 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
        }
        &:hover::after {
            width: 50px;
            height: 50px;
            top: -7px;
            left: -7px;
            border: 1px dashed #51bec4;
        }
    }
}
.cDivider {
    height: 100px;
    transform: scale(1, 0.8);
    width: 0px;
    margin: 0 auto 0 auto;
    background-color: #fff;
    transition: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.cDivider_onHover {
    transform: scale(1, 1);
    background-color: #51bec4;
}