@import '~@angular/material/theming';
.workshopContainer {
    //text-align: center;
    //padding-top: 50px;
    //background-color: #51bec4;
    //background-color: #5bdae0;);
    //background: linear-gradient(180deg, rgba(45,58,64,1) 0%, rgba(#51bec4,0.5) 100%);
    //background: linear-gradient(180deg, rgba(45,58,64,1) 10%, rgba(#fff,0.5) 55%);
    background:
    //linear-gradient(180deg, rgba(45,58,64,1) 35%, rgba(45,58,64,0.1) 60%),
    // linear-gradient(0deg, rgba(45,58,64,1) 0%, rgba(45,58,64,0.1) 50%),
    //linear-gradient(90deg, rgba(45,58,64,1) 5%, rgba(#fff,0) 50%),
    // // linear-gradient(270deg, rgba(45,58,64,1) 10%, rgba(#fff,0) 50%),
    // radial-gradient(circle, rgba(0,0,0,0) 20%, rgba(45,58,64,1) 100%),
    url("../../assets/img/bg3.jpg");
    background-position: right;
    background-position-y: center;
    //background-size: 75% 85%;
    //background-size: cover;
    //background-size: 50% 60%;
    background-repeat: no-repeat;
    background-color: #2d3a40;
    background-attachment: fixed;
    //color: #313b42;
    //color: #fff;
    color: #FFF;
    margin: 0;
    //min-height: 300px;
    //height: 400px;
    // display: flex;
    // //justify-content: flex-end;
    // align-items: flex-end;
    // flex-direction: column;
    //border-top: 2px dashed rgba(0,255,255,0.5);
    .fog {
        display: flex;
        //justify-content: flex-end;
        align-items: flex-end;
        flex-direction: column;
        //background: linear-gradient(180deg, rgba(45,58,64,1) 0%, rgba(45,58,64,0.1) 40%)
    }
    
    .headerContainer {
        //text-align: right;
        height: 100px;
        font-size: 50px !important;
        //border: 1px solid red;
        display: flex;
        justify-content:flex-end;
        align-items: center;
        padding-right: 30px;
        //background-color: red;
        background: linear-gradient(135deg, rgba(0,0,0,0) 94px, rgba(0,255,255,0.5) 94px);
        //background: rgb(0,0,0);
        //background: linear-gradient(135deg, rgba(0,0,0,0) 50%, rgba(0,255,255,1) 50%);
        // justify-items: end;
        // align-items: end;
        // align-content: end;
        //background-color: red;
        font-family: 'Raleway', sans-serif;
        font-size: 40px;
        width: 320px;
        .cHeader {
            display: block;
            //margin: 0px;
            //border: 1px solid red;
            //background-color: red;
            color: #313b42;
        }
    }
    
    .cardsContainer {
        width: 100%;
        //height: 500px;
        //padding: 50px;
        //padding-left: 100px !important;
        display: flex;
        //flex-wrap: wrap;
        //flex: 1 1 calc(33.33% - 20px);
        flex-wrap: wrap;

        .c_card {
            width: 400px;
            height: 400px;
            margin: 50px;

            .c_card_header {
                font-size: 30px;
                padding: 20px 10px;
                border-bottom: 1px solid #313b42;
            }
            .c_card_image {
                height: 200px;
            }
            .c_card_content {
                padding: 10px;
            }
        }
    }
}