<div class="workshopContainer">
    <div class="headerContainer">
        <span class="cHeader">Warsztat</span>
    </div>
    <div class="cardsContainer">
        <div class="c_card mat-elevation-z1">
            <div class="c_card_header">
                Card Header
            </div>
            <div class="c_card_image"></div>
            <div class="c_card_content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur nostrum saepe fuga dolorem cupiditate sunt repudiandae animi ipsam odit, accusantium officia nam eligendi totam corporis soluta hic ducimus eum. Ipsum!
            </div>
        </div>
        <div class="c_card mat-elevation-z1">
            <div class="c_card_header">
                Card Header
            </div>
            <div class="c_card_image"></div>
            <div class="c_card_content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur nostrum saepe fuga dolorem cupiditate sunt repudiandae animi ipsam odit, accusantium officia nam eligendi totam corporis soluta hic ducimus eum. Ipsum!
            </div>
        </div>
        <div class="c_card mat-elevation-z1">
            <div class="c_card_header">
                Card Header
            </div>
            <div class="c_card_image"></div>
            <div class="c_card_content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur nostrum saepe fuga dolorem cupiditate sunt repudiandae animi ipsam odit, accusantium officia nam eligendi totam corporis soluta hic ducimus eum. Ipsum!
            </div>
        </div>
        <div class="c_card mat-elevation-z1">
            <div class="c_card_header">
                Card Header
            </div>
            <div class="c_card_image"></div>
            <div class="c_card_content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur nostrum saepe fuga dolorem cupiditate sunt repudiandae animi ipsam odit, accusantium officia nam eligendi totam corporis soluta hic ducimus eum. Ipsum!
            </div>
        </div>
        <div class="c_card mat-elevation-z1">
            <div class="c_card_header">
                Card Header
            </div>
            <div class="c_card_image"></div>
            <div class="c_card_content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur nostrum saepe fuga dolorem cupiditate sunt repudiandae animi ipsam odit, accusantium officia nam eligendi totam corporis soluta hic ducimus eum. Ipsum!
            </div>
        </div>
        <div class="c_card mat-elevation-z1">
            <div class="c_card_header">
                Card Header
            </div>
            <div class="c_card_image"></div>
            <div class="c_card_content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur nostrum saepe fuga dolorem cupiditate sunt repudiandae animi ipsam odit, accusantium officia nam eligendi totam corporis soluta hic ducimus eum. Ipsum!
            </div>
        </div>
    </div>
</div>
