<div class="workshopContainer">
    <div class="fog">
        <div class="headerContainer">
            <span class="cHeader">Warsztat</span>
        </div>
        <div class="cardsContainer">
            <div class="c_card_container">
                <div class="c_card mat-elevation-z10">
                    <div class="c_card_image portfoliov2-thumbnail-bg  mat-elevation-z10">
                        <div class="c_card_image_gradient_mask"></div>
                        <div class="c_card_image_links">
                            <a href="" mat-raised-button disabled color="primary">Live</a>
                            <a href="https://github.com/pawelg38/portfolio_v2" target="_blank" button mat-raised-button>GitHub</a>
                        </div>
                    </div>
                    <div class="c_card_content">
                        <div class="c_card_describe">
                            Portfolio - 2021
                        </div>
                        <div class="c_card_tags">
                            <button mat-button>#Angular | Animations | Material Design</button>
                            <button mat-button>#TypeScript</button>
                            <button mat-button>#SCSS</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="c_card_container">
                <div class="c_card current-project mat-elevation-z10">
                    <div class="popup">Projekt, nad którym aktualnie pracuję</div>
                    <div class="c_card_image angularcms-thumbnail-bg">
                        <div class="c_card_image_gradient_mask"></div>
                        <div class="c_card_image_links">
                            <a class="live-link-bg" href="https://angularcms-470bb.firebaseapp.com/login?returnUrl=%2F" target="_blank" mat-raised-button color="primary">Live</a>
                            <a href="https://github.com/pawelg38/angular-cms" target="_blank" mat-raised-button>GitHub</a>
                        </div>
                    </div>
                    <div class="c_card_content">
                        <div class="c_card_describe">
                            Aplikacja webowa z systemem zarządzania treścią.
                        </div>
                        <div class="c_card_tags">
                            <button mat-button>#Angular | Animations | Material Design</button>
                            <button mat-button>#TypeScript</button>
                            <button mat-button>#SCSS</button>
                            <button mat-button>#Firebase</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="c_card_container">
                <div class="c_card mat-elevation-z10">
                    <div class="c_card_image portfoliov1-thumbnail-bg">
                        <div class="c_card_image_gradient_mask"></div>
                        <div class="c_card_image_links">
                            <a class="live-link-bg" href="http://portfolio1.pawelgrabos.pl/" target="_blank" mat-raised-button color="primary">Live</a>
                            <a href="https://github.com/pawelg38/portfolio_v1" target="_blank" mat-raised-button>GitHub</a>
                        </div>
                    </div>
                    <div class="c_card_content">
                        <div class="c_card_describe">
                            Portfolio - 2020
                        </div>
                        <div class="c_card_tags">
                            <button mat-button>#Bootstrap</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="c_card_container">
                <div class="c_card mat-elevation-z10">
                    <div class="c_card_image carservicehistory-thumbnail-bg">
                        <div class="c_card_image_gradient_mask"></div>
                        <div class="c_card_image_links">
                            <a class="live-link-bg" href="https://car-service-history.mdomzalski.pl/index.php" target="_blank" mat-raised-button color="primary">Live</a>
                            <a href="https://github.com/mimi530/php_Car-Service-History" target="_blank" mat-raised-button>GitHub</a>
                        </div>
                    </div>
                    <div class="c_card_content">
                        <div class="c_card_describe">
                            Sam projekt nie należy do mnie. Odpowiedzialny byłem jedynie za część wizualną.
                            <br>Współtworzony w dwu osobowym zespole.
                        </div>
                        <div class="c_card_tags">
                            <button mat-button>#Bootstrap</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="c_card_container">
                <div class="c_card mat-elevation-z10">
                    <div class="c_card_image purecssexamples-thumbnail-bg">
                        <div class="c_card_image_gradient_mask"></div>
                        <div class="c_card_image_links">
                            <a class="live-link-bg" href="https://melbourne-refurbish.000webhostapp.com/" target="_blank" mat-raised-button color="primary">Live</a>
                            <a href="https://github.com/pawelg38/Pure-CSS-hover-animation-examples" target="_blank" mat-raised-button>GitHub</a>
                        </div>
                    </div>
                    <div class="c_card_content">
                        <div class="c_card_describe">
                            Kilka przykładów animacji opartych o czysty CSS - wykonane w ramach samodzielnej nauki
                        </div>
                        <div class="c_card_tags">
                            <button mat-button>#CSS</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
