.cFooter {
    min-height: 147px;
    background-color: #2d3a40;
    background-color: #000;
    color: #fff;
    padding: 20px 5px;
    display: flex;

    .footer-left-bar {
        color: rgb(0, 179, 179);
        color: #576f7a;
        letter-spacing: 0.5px;
        display: flex;
        justify-content: center;
        line-height: 1.5;
        padding: 0px 20px;
        flex-grow: 1;
        flex-direction: column;
        
        .footer-info-container {
            display: flex;
            margin: 2px;
            .footer-info-cell1 {
                padding: 5px;
                border-left: 5px solid #7bb0c9;
                color: #576f7a;
                color: #fff;
            }
            .footer-info-cell2 {
                padding: 5px;
                border-bottom-left-radius: 4px;
                border-bottom-right-radius: 4px;
                border-top-right-radius: 4px;
                background-color: rgba($color: #fff, $alpha: .3);
                background-color: #2d3a40;
                color: #576f7a;
                color: #fff;
            }
        }
        a {
            text-decoration: none;
            color: #fff;
        }
    }
    .footer-right-bar {
        display: flex;
        flex-grow: 1;
        justify-content: flex-end;
        padding: 0 10px 0 0;

        img,svg {
            height: 26px;
            align-self: flex-end;
            margin: 0 4px;

            &.s {
                width: 24px;
                height: 24px;
            }
        }
    }
}

@media (max-width: 425px) {
    .cFooter {
        flex-wrap: wrap;
        padding: 10px 5px 0 5px;
    }
    .footer-left-bar {
        padding: 10px 15px !important;
    }
    .footer-right-bar {
        width: 100% !important;
        padding: 10px 0 !important;
    }
}