.cContent {
    padding: 50px 50px 0 50px;
    text-align: left;
    
    h1 {
        font-size: 32px;
    }
    p {
        letter-spacing: 1px;
        font-weight: 300;
        font-family: 'Raleway', sans-serif;
        line-height: 24px;
    }
}

@media (max-width: 425px) {
    .cContent {
        padding: 10px 10px 0 20px;
    }
}