.cContent {
    margin: 50px 50px 0 50px;
    //text-align: center;
    //border: 1px solid red;
    
    h1 {
        font-size: 32px;
    }
    p {
        letter-spacing: 1px;
        font-weight: 300;
        font-family: 'Raleway', sans-serif;
        line-height: 24px;
    }
}