<div class="cContent">
    <h1>HOME</h1>
    <p>
        W głębinach internetu trafiłeś na moje portfolio. Cześć, nazywam się Paweł Graboś i zapraszam Cię na krótką historię mówiącą o mnie.<br>
        Dowiesz się kim jestem oraz kim chcę zostać.<br>
        Poznasz moje cele na przyszłość.<br>
        W sekcji 'Warsztat' znajdziesz informacje o moich ukończonych projektach oraz sprawdzisz nad czym aktualnie pracuję.<br>
        Nie chcę Cię zanudzać, szanuję Twój czas - skorzystaj z bocznej nawigacji aby przejść od razu do sekcji, która Cię interesuje.<br>
        <!-- Dzięki! -->
    </p>
</div>
